<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="container">
    <div class="row">
        <header>
            <nav class="navbar navbar-light bg-Light">
                <a href="/" class="navbar-brand">Главная</a>
                <a href="/about" class="navbar-brand">0 нас</a>>
                <a href="/contacts" class="navbar-brand">Контакты</a>
                <a href="/login" class="navbar-brand">Авторизация</a>
            </nav>
        </header>
    </div>
    <div class="row">
        <main>


</body>
</html>